:root {
    --coffee-colour: #140903;
    --menu-bar-height: 110px;
}

@font-face {
    font-family: 'frente_h1regular';
    src: url('fonts/FrenteH1-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: frente_h1regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid {
    padding: 0;
}

.menu-bar {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 1);
    overflow-y: auto;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10000;
    height: var(--menu-bar-height);
}

.menu-bar td {
    width: 20%;
    font-size: 32px;
    align-items: center;
    vertical-align: middle;
}

.clear-menu-bar {
    height: var(--menu-bar-height);
}

.main-image {
    max-width: 100%;
    position: center;
}

.slogan {
    text-align: center;
    font-size: 60px;
}

.info-bar {
    background-color: var(--coffee-colour);
}

.info-bar * {
    color: white;
    font-size: 28px;
}

.contact-info {
    padding-top: 20px;
}

.address {
    margin-bottom: 30px;
}

.coffee-opening-hours {
    margin-bottom: 30px;
}

.social-media i {
    margin-right: 10px;
    font-size: 48px;
}

.social-media {
    margin-bottom: 30px;
}